html {
  height: 100%;
  width: 100%
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #3f3324, #7d6b58);
  color: #fff;
  overflow: hidden;
}

.history-container {
  background-color: #271e0f;
  box-shadow: 0 4px 10px rgba(0, 0, 0,0.6);
  border-radius: 1rem;
  height: auto;
  /*height: auto;にしてるからhtml上に書き込めば勝手に調整されるはずなんだよねー*/
  width: 90%;
  max-width: 60rem;
  margin: 1.0rem auto;
  padding: 0.5rem 1.5rem;
  position: relative;/*List親*/
  z-index: 500;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #fff;
}

#discription {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #fff;
}

/*button style*/

.history-buttons {
  position: absolute;
  top: 0.5rem;
  right: 1.5rem;
  display: flex;
  gap: 0.5rem;
  padding: 0.3rem;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 0.5rem;
  backdrop-filter: blur(4px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.history-buttons button {
  background: linear-gradient(to right, #5a4c3b, #7d6b58);
  border: none;
  color: #fff;
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
}

.history-buttons button:hover {
  background: linear-gradient(to right, #7d6b58, #5a4c3b);
  transform: translateY(-2px); /*あがるよ*/
}